*.hdf5
lightning_logs/*/*
*.sdic
*.pyc
*.png
*.ckpt
*.tar.gz
*.local.yaml
*.local
.vscode*
inference_job.sh
*.err
*.out
*.pk
*.cif

attention_logs.csv
parity plot data.csv
Long_Range_Coefficients_formationenergy.csv
Long_Range_Coefficients_bandgap.csv
Long_Range_Coefficients_bandgap_with_primitives.csv
Long_Range_Coefficients_formationenergy_with_primitives.csv
.gitignore
